@import url('https://fonts.googleapis.com/css?family=Courgette:100,200,300,400,500,600,700|Indie+Flower:100,200,300,400,500,600,700');

/*--------------------------------Header----------------------------*/

    

    header{
        margin: 0;
        padding-left: 0px;
        color: #fff;
        }

/*--------------------------------Text----------------------------*/

    .list-inline{
        font-family: "Indie+Flower";
        font-weight: 200;
        font-size: 30px;
        }

    .members-name {
        color: white;
        text-align: center;
        background-color: black;
        }
    
    .breake{
         min-height: 100px;
        }
    
    .shows{
        padding-top: 100px;
        }
    
    .shows1{
        text-align: right;
        }
    
    .shows2{
        border-left: 3px solid;
        border-left-color: black;
        }

/*--------------------------------Index----------------------------*/
    .logo-img {
        
        
        
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
        background-image: url("../images/logo.png");
        width: 100px;
        height: 100px;
        
    }
    
    .logo-img:hover{
        background-size: 95%;
    }
    
    
    .about{
        color: white;
        padding-top: 100px;
        padding-left: 25px;
        padding-right: 25px;
        }
    
    .about1{
        color: #A4A295;
        border-left-color: #A4A295;
        border-left-style: double;
        border-left-width: thick;
        padding-left: 25px;
        padding-right: 25px;
        }

/*--------------------------------Images----------------------------*/

    .background-shows{
        background-color: #68BBB8;
        }
    
    .background-index {
        background: url("../images/index-background.jpg");
        background-repeat: no-repeat;
        background-color: #000000;
        height: 100%;
        width: 100%;
        background-size: 100%;
        }
    
    .footer {
        padding-top: 100px;
        }

    .background-our-tracks {
        background-color: #D6CC0A;
        }
    
    .background-gallery {
        background-color: #FF91BB;
        }
    
    .background-book {
        background-color: #F5855B;
        }

    .members {
        padding-top: 100px;
        text-align: center;
        color: white;
        }
    
/*------------------------------Form---------------------------------*/

    .form{
        background-color: white;
        color: blue;
        max-width: 400px;
        }
    
    .space{
        padding-top: 50px;
        }
    
    .form-table{
        display: flex;
        padding-top: 100px;
        }

/*--------------------------------NAV----------------------------*/
    
    
    
        
    .nav-logo{
        margin-top: 30px;
        margin-left: 30px;
        
    }
    .nav-gallery{
        text-align: center;
        font-family: "Indie+Flower";
        font-size: 40px;
        }

    .nav-bar{
        text-align: center;
        font-family: "Indie+Flower";
        font-size: 25px;
        }
    
    .nav-bar a {
        width: 100%;
        text-decoration: none;
        color: #857D68;
        height: 120px;
        }
    
    .nav-bar a i {
        padding-top: 0px;
        display: block;
        color: #857D68;
        font-size: 28px;
        }

    .nav-bar span {
        visibility: visible;
        display: block;
        width: 100%;
        padding-top: 5px;
        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 8px;
        }
/*-----------------------------------------------------hover*/


    



/*-----------------------------------------------------Footer*/

    .footer-social{
        color: #857D68;
        font-size: 25px;
        position: relative;
        text-align: right;
        padding-right: 50px;
        padding-bottom: 50px;
        }

    .footer-social a i{
        width: 25px;
        text-decoration: none;
        color: #857D68;
        }



@media (max-width: 1000px) {
    
    .about1 {
        
        font-size: 12px;
        padding-left: 60px;
        padding-right: 60px;
        border-left-color: white;
        border-left-style: double;
        border-left-width: thin;
        }
        
    .nav-bar a span {
        visibility: visible;
    }
   
    



@media (max-width: 500px) {
    
    .background-index{
        background: url("../images/mobileb.png");
        background-repeat: no-repeat;
        background-color: #000000;
        height: 100%;
        width: 100%;
        background-size: 100%;
    }
    
    .about1 {
        font-size: 12px;
        color: #9B9B99; 
        padding-left: 40px;
        padding-right: 40px;
        border-left-color: #9B9B99;
        border-left-style: solid;
        border-left-width: 4px;
        border-right-color: #9B9B99;
        border-right-style: solid;
        border-right-width: 4px;
        
    }
    .nav{
        opacity: 0.5;
        background-color: #9B9B99;
        animation-name: growing;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-direction: normal;
        height: 30px;
        margin-top: 0px;
        padding-left: 40px;
        padding-right: 40px;
        }
        
    .nav-bar a i {
        margin-top: 5px;
        display: block;
        color: #282828;
        font-size: 18px;
        }
    }
    
    .nav-bar a span {
        visibility: hidden;
        display: block;
        text-transform: uppercase;
        width: 100%;
        padding-top: 5px;
        text-align: center;
        
        font-size: 8px;
        font-weight: 300;
        letter-spacing: 3px;
    }
    
    .about{
        color: white;
        padding-top: 30px;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .footer {
        padding-top: 20px;
        
    }
    .footer-social a i{
        
        text-decoration: none;
        color: #9B9B99;
    }
    
    .footer-social{
        letter-spacing: 10px;
        font-size: 25px;
        padding-right: 25px;
        
        
    }

@keyframes growing {
    from {
        height: 0;
    }
    to {
        height: 150;
    }
}