@import url('https://fonts.googleapis.com/css?family=Courgette:100,200,300,400,500,600,700|Indie+Flower:100,200,300,400,500,600,700');

/*--------------------------------Header----------------------------*/

    

    header{
        margin: 0;
        padding-left: 0px;
        color: #fff;
        }

/*--------------------------------Text----------------------------*/

    .list-inline{
        font-family: "Indie+Flower";
        font-weight: 200;
        font-size: 30px;
        }

    .members-name {
        color: black;
        text-align: center;
        }
    
    .breake{
         min-height: 100px;
        }
    
    .shows{
        padding-top: 100px;
        }
    
    .shows1{
        text-align: right;
        }
    
    .shows2{
        border-left: 3px solid;
        border-left-color: black;
        }

/*--------------------------------Index----------------------------*/
   

/*----------------------------------------------------------------------Images*/

    .background-shows{
        background-color: #68BBB8;
        }
    
    
    
    .footer {
        padding-top: 100px;
        }

   
    .background-gallery {
        background-color: #FF91BB;
        background-size: cover;
        }
    
    .background-book {
        background-color: #F5855B;
        }

        
  
    
    
    
    
/*------------------------------Form---------------------------------*/

    .form{
        background-color: white;
        color: blue;
        max-width: 400px;
        }
    
    .space{
        padding-top: 50px;
        }
    
    .form-table{
        display: flex;
        padding-top: 100px;
        }

/*--------------------------------NAV----------------------------*/
    
    
    
        
    
/*-----------------------------------------------------hover*/


    



/*-----------------------------------------------------Footer*/

    




   
    



@media (min-width: 120px) {
    
    .background-index{
        background: url("../images/mobileb.png");
        background-repeat: no-repeat;
        background-color: #000000;
        height: 100%;
        width: 100%;
        background-size: auto;
        }
    
    
        
    .nav-logo{
        height: 0px;
        margin-top: 0px;
        margin-bottom: 0px;                                
        margin-left: 0px;
        
        }
        
       
    
    .logo-img {
        background-color: #9B9B99;
        animation-name: growing;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-direction: normal;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url("../images/logo-mobile.png");
        height: 30px;
        margin-top: 20px;
        }
        
    .logo-img:hover{
        background-image: url("../images/logo-mobileh.png");
        }
    
    .navigation {
        position: fixed;
        width: 100%;
        z-index: 99;
        opacity: 0.8;
        
        }
        
    .nav{
       
        background-color: #9B9B99;
        animation-name: growing;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-direction: normal;
        height: 30px;
        margin-top: 20px;
        padding-left: 0px;
        
        text-align: left;
        margin-right: 0px;
        
        }
        
    
        
    .nav-bar a i {
        margin-top: 5px;
        color: #282828;
        font-size: 18px;
        
        }
    
    
    .nav-bar a span {
        visibility: hidden;
        display: block;
        text-transform: uppercase;
        width: 100%;
        padding-top: 5px;
        text-align: center;
        font-weight: 300;
        letter-spacing: 3px;
        }
    
    
    
    .about{
        color: white;
        padding-top: 80px;
        padding-left: 25px;
        padding-right: 0px;
        margin-right: 20px;
        margin-left: 20px;
        }
        
    .about1 {
        font-size: 12px;
        color: #9B9B99; 
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 60px;
        border-left-color: #9B9B99;
        border-left-style: solid;
        border-left-width: 4px;
        border-right-color: #9B9B99;
        border-right-style: solid;
        border-right-width: 4px;
        }    
/*---------------------------------------------------------------320px-GALLERY*/
    .background-gallery {
        background: url("../images/gallery/mgalleryback.jpg");
        background-repeat: no-repeat;
        background-color: #000000;
        height: 100%;
        width: 100%;
        background-size: 100%;
        padding-top: -220px;
        background-attachment: fixed;
        }
        
    .img-bg {
        text-align: center;
        }
    
    .img-bg img{
        width: 80%;
        padding-top: 30px;
        padding-bottom: 30px;
        }
        
    .gnav-logo{
        height: 0px;
        margin-top: 0px;
        margin-bottom: 0px;                                
        margin-left: 0px;
        } 
        
    .glogo-img {
        background-color: #020202;
        animation-name: growing;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-direction: normal;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        background-image: url("../images/logo-m.png");
        height: 30px;
        margin-top: 20px;
        }
    
    .gnav-bar a i {
        margin-top: 5px;
        color: #6B4D26;
        font-size: 18px;
        }
    
    .gnav-bar a span {
        visibility: hidden;
        display: block;
        text-transform: uppercase;
        width: 100%;
        padding-top: 5px;
        text-align: center;
        font-weight: 300;
        letter-spacing: 3px;
        }    
        
    .gnav{
        background-color: #020202;
        animation-name: growing;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-direction: normal;
        height: 30px;
        margin-top: 20px;
        padding-left: 0px;
        margin-right: 0px;
        text-align: left;
        }
        
    .members p{
        text-align: center;
        font-family: "Indie+Flower";
        font-size: 23px;
        font-weight: 700;
        color: #9B9B99;
        margin-top: 20px;
        }
        
    .members {
        text-align: center;
        padding-top: 100px;
        padding-left: 0px;
        padding-right: 0px;
        }
       
    .video {
        text-align: center;
        padding-top: 70px;
        padding-bottom: 70px;
        }
    
    .video video {
        width: 80%;
        border-radius: 50px;
        border: 1px solid #2A1A0B;
        }    
    
        
        
    
    
/*----------------------------------------------------------------320px-FOOTER*/    
    .footer {
        padding-top: 20px;
        }
    
    .footer-social{
        text-align: center;
        letter-spacing: 10px;
        font-size: 25px;
        color: green;
        }
        
    .footer-social a i{
        width: 25px;
        text-decoration: none;
        color: #9B9B99;
        }
        
        
@keyframes growing {
    from {
        height: 0;
    }
    to {
        height: 150;
    }
}
/*-----------------------------------------------------------------------768px*/

@media (min-width: 768px) {
    
    .about1 {
        font-size: 12px;
        margin-top: 100px;
        padding-left: 60px;
        padding-right: 60px;
        border-left-color: white;
        border-left-style: double;
        border-left-width: thin;
        border-right: hidden;
        }
        
    .nav{
        opacity: 1;
        background-color: transparent;
        animation-name: none;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        
        }
        
    .nav-logo{
        margin-top: 0px;
        margin-left: 30px;
        }
        
    .nav-gallery{
        text-align: center;
        font-family: "Indie+Flower";
        font-size: 40px;
        }

    .nav-bar{
        text-align: center;
        font-family: "Indie+Flower";
        font-size: 25px;
        }
    
    .nav-bar a {
        width: 100%;
        text-decoration: none;
        color: #857D68;
        height: 120px;
        }
    
    .nav-bar a i {
        padding-top: 0px;
        display: block;
        color: #857D68;
        font-size: 28px;
        }

    .nav-bar a span {
        visibility: visible;
        display: block;
        width: 100%;
        padding-top: 5px;
        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
        }

    .logo-img {
        background-color: transparent;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: left;
        background-image: url("../images/logo.png");
        width: 100px;
        height: 60px;
        
        }
    
    .logo-img:hover{
        background-image: url("../images/logo2.png");
        }
    
    .about{
        color: white;
        padding-top: 100px;
        padding-left: 25px;
        padding-right: 65px;
        margin-right: 0px;
        }
    
    .about1{
        color: #A4A295;
        border-left-color: #A4A295;
        border-left-style: double;
        border-left-width: thick;
        padding-left: 25px;
        padding-right: 25px;
        }
    
    
    .background-index {
        background: url("../images/index-background.jpg");
        background-repeat: no-repeat;
        background-color: #000000;
        height: 100%;
        width: 100%;
        background-size: 100%;
        }
/*---------------------------------------------------------------768px-GALLERY*/
    .background-gallery {
        background: url("../images/gallery/galleryback.jpg");
        background-repeat: no-repeat;
        background-color: #000000;
        height: 100%;
        width: 100%;
        background-size: 100%;
        background-attachment: fixed;
        }
        
    .navigation {
        position: fixed;
        width: 100%;
        z-index: 99;
        opacity: 0.8;
        }
     
     
    .gnav{
        opacity: 1;
        background-color: black;
        animation-name: none;
        margin-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        }
        
    .glogo-img{
        height: 60px;
        background-position: left;
    }    
    .gnav-logo{
        background-color: black;
        height: 90px;
        margin-top: 0px;
        margin-left: 0px;
        padding-left: 20px;
        top:0px;
        }
        

    .gnav-bar{
        text-align: center;
        font-family: "Indie+Flower";
        font-size: 25px;
        
        }
    
    .gnav-bar a {
        width: 100%;
        text-decoration: none;
        color: #7E5E2F;
        height: 60px;
        
        }
    
    .gnav-bar a i {
        padding-top: 0px;
        display: block;
        color: #7E5E2F;
        font-size: 28px;
        
        }

    .gnav-bar a span {
        visibility: visible;
        display: block;
        width: 100%;
        padding-top: 5px;
        text-align: center;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
        
        }
        
    .members p{
        text-align: center;
        font-family: "Indie+Flower";
        font-size: 23px;
        font-weight: 700;
        color: black;
        margin-top: 20px;
        }
        
    .members {
        text-align: center;
        padding: 120px 150px 150px 150px;
        }
        
    .img-bg {
        text-align: center;
        }

    .photo {
        padding-top: 30px;
        }
        
    .video {
        text-align: center;
        }
    
    .video video {
        width: 50%;
        }
/*-----------------------------------------------------------------768px-MEDIA*/  

    .background-media {
        background: url("../images/media/cassete.jpg");
        background-repeat: no-repeat;
        background-color: #000000;
        height: 100%;
        width: 100%;
        background-size: 100%;
        background-attachment: fixed;
        }

    .albums{
        text-align: right;
        width: 100%;
        padding-top: 200px;
        color: black;
        }
        
    .albums img{
        border-radius: 50px;
        border: 1px solid #2A1A0B;
        }    
        
    .album{
        
        text-align: right;
        width: 100%;
        padding-top: 50px;
        color: black;
        }
        
    .album img{
        border-radius: 50px;
        border: 1px solid #2A1A0B;
        }
    
    .tracks{
        text-align: left;
        }

    .tracks p{
        font-family: "Indie+Flower";
        font-weight: 500;
        font-size: 18px;
        position: relative;
        top: 90px;
        left: 20px;
        z-index: 99;
    }

    .tracks audio{
        text-align: left;
        opacity: 0.5;
        position: relative;
        top: 50px;
    }





/*----------------------------------------------------------------768px-FOOTER*/
        .footer-social{
        font-size: 25px;
        position: relative;
        text-align: right;
        padding-right: 50px;
        padding-bottom: 50px;
        }

    .footer-social a i{
        width: 25px;
        text-decoration: none;
        color:  #857D68;
        }
}