@import url('https://fonts.googleapis.com/css?family=Courgette:100,200,300,400,500,600,700|Indie+Flower:100,200,300,400,500,600,700');

/*---------------------------------------------------------------------COLOURS*/

.ui-menu-color {}

.ui-menu-color-gallery {
    background-color: red;
}

.ui-menu-color-tracks {
    background-color: red;
}

.ui-menu-color-shows {
    background-color: orange;
}

.ui-menu-color-book {
    background-color: yellow;
}

/*----------------------------------------------------------------------HEDDER*/

.list-inline-item:not(:last-child) {
    margin: 0;

}

.container-fluid {
    padding: 0px;
}

.menucontainer {
    animation-name: growing;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
    background-color: black;
    text-align: center;
    font-family: "Indie+Flower";
}

.menucontainer a {
    width: 100%;
    text-decoration: none;
    color: #BFBFBF;
    height: 0px;
}

.menucontainer a i {
    padding-top: 0px;
    color: #BFBFBF;
    font-size: 28px;
}

.menucontainer a span {
    visibility: visible;
    display: block;
    width: 100%;
    padding-top: 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
}

.navigation {

    position: fixed;
    width: 100%;
    z-index: 99;
    opacity: 0.8;
}

.logo {
    margin: 10px;
    height: 53px;
    
}

.logo-img {
    animation-name: growing;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
    background-color: black;
    
}

/*-----------------------------------------------------------------------INDEX*/

.background-index {
    background: url("../images/index-background.jpg");
    background-repeat: no-repeat;
    background-color: #000000;
    height: 100%;
    width: 100%;
    background-size: 100%;
}

.about {
    color: white;
    padding-top: 200px;
    padding-left: 25px;
    padding-right: 65px;
    margin-right: 0px;
}

.about1 {
    color: #BFBFBF;
    border-left-color: #BFBFBF;
    border-left-style: double;
    border-left-width: thick;
    border-right: hidden;
    padding-left: 25px;
    padding-right: 25px;
    font-family: "Indie+Flower";
    font-size: 15px;
}

/*---------------------------------------------------------------------GALLERY*/

.background-gallery {
    background: url("../images/gallery/mgalleryback.jpg");
    background-repeat: no-repeat;
    background-color: #000000;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-attachment: fixed;
}

.members p {
    text-align: center;
    font-family: "Indie+Flower";
    font-size: 23px;
    font-weight: 700;
    color: black;
    margin-top: 20px;
}

.members {
    text-align: center;
    padding-top: 140px;
}

.img-bg {
    text-align: center;

}

.photo {
    padding: 30px;
    width: 100%;
}

.video {
    text-align: center;
}

.video video {
    width: 50%;
}

/*----------------------------------------------------------------------FOOTER*/

.social {
    margin-bottom: 20px;
}

.sociali {
    text-align: center;
    color: #BFBFBF;
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 20px;
}

.sociali a i {
    color: #BFBFBF;
}

.socialc {
    margin: auto;
    font-size: 12px;
    letter-spacing: normal;
    padding-top: 70px;
}

/*-------------------------------------------------------------------ANIMATION*/

@keyframes growing {
    from {
        height: 0;
    }
    to {
        height: 70px;
    }
}

