@import url('https://fonts.googleapis.com/css?family=Courgette:100,200,300,400,500,600,700|Indie+Flower:100,200,300,400,500,600,700');

/*                                                   Start of HEADER styles   */

header {
    background-color: black;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.container-fluid {
    padding: 0rem;
}

/**********animation of navigation bar background**********/

.menucontainer {
    animation-name: growing;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
    background-color: black;
    text-align: center;
}

.menuitem {
    animation-name: growing;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
    background-color: black;
    text-align: center;
    display: block;
    width: 100%;
    padding-top: 0em;
    text-transform: uppercase;
    color: #BFBFBF;
}

/**********backgrounds**********/

/*HOME*/

.background-index {
    background-image: url("../images/index/band3.jpg");
    background-repeat: no-repeat;
    height: 20rem;
    background-size: cover;
}

/*GALLERY*/

.background-gallery {
    background: url("../images/gallery/gallery.jpg");
    background-repeat: no-repeat;
    background-color: #000000;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-attachment: fixed;
}

/*TRACKS*/

.background-media {
    background: url("../images/media/tracks1.jpg");
    background-repeat: no-repeat;
    background-color: #000000;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-attachment: fixed;
}

/*SHOWS*/

.background-shows {
    background: url("../images/shows/showsbg.jpg");
    background-repeat: no-repeat;
    background-color: #000000;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-attachment: fixed;
}

/*BOOK*/

.background-event {
    background: url("../images/book/eventblur.jpg");
    background-repeat: no-repeat;
    background-color: #000000;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-attachment: fixed;
}

/**********navigation bar**********/

.menucontainer a {
    width: 100%;
    text-decoration: none;
    color: #BFBFBF;
    height: 0rem;
}

.navigation {
    position: fixed;
    width: 100%;
    z-index: 99;
    opacity: 0.8;
}

/**********icons**********/

.menucontainer a i {
    padding-top: 0rem;
    color: #BFBFBF;
    font-size: 2rem;
}

.menuitem i {
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    padding-top: 0.8rem;
    color: #BFBFBF;
}

/**********text**********/

.menucontainer a span {
    display: block;
    width: 100%;
    padding-top: 0rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.2em;
}

.menuitem a {
    text-decoration: none;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
    letter-spacing: 0.2em;
    color: #BFBFBF;
}

/*                                                    End of HEADER styles    */

/*                                                    Start of BODY styles    */     

body {
    background-color: black;
    font-family: "Indie+Flower";
}

/*                                                      End of BODY styles    */

/*                                               Start of HOME page styles    */


/**********text**********/

.about {
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.about2 {
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.about1 p {
    text-align: center;
    color: #BFBFBF;

    font-size: 1rem;
    font-weight: 600;
    padding-left: 2em;
    padding-right: 2em;
}

.crue p {
    text-align: center;
    color: #BFBFBF;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1em;
}

.appfeature {
    padding: 6em;
    text-align: center;
    color: #BFBFBF;
    font-size: 1.2em;
    font-weight: 600;
}

.appdesc {
    background-color: #980000;
    color: #BFBFBF;
    font-size: 1.2em;
    margin: auto;
}

.appdesc p {
    margin: auto;
}

/**********images**********/

.band {
    text-align: center;
    padding-top: 7em;
}

.bandimg {
    background-image: url("../images/index/themonkees.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 13rem;
    margin: auto;
}

.crueimg {
    background-image: url("../images/index/indexband1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 20rem;
    margin-top: 3em;
}

/**********red bar with links for apps**********/

.apps {
    margin-top: 6rem;
    background-color: #980000;
    padding: 1em;
    text-align: center;
}

/*                                                  End of HOME page styles   */

/*                                             Start of GALLERY page styles   */

/**********images**********/

.img-bg {
    text-align: center;
}

.img-bg img {
    width: 25em;
}

.photo {
    padding: 1em 0em;
}

/**********text**********/

.members {
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    color: white;
    margin-top: 0em;
    padding-top: 7em;
}

/*                                               End of GALLERY page styles   */

/*                                              Start of TRACKS page styles   */

/**********images**********/

.album {
    text-align: center;
    width: 100%;
    padding-top: 4em;
    color: black;
}

.album-first {
    padding-top: 6em;
    text-align: center;
    width: 100%;
    color: black;
}

.album-first img {
    border-radius: 2em;
    width: 22em;
}

.album-first audio {
    width: 22em;
    height: 2em;
}

.album img {
    border-radius: 2em;
    width: 22em;
}

/**********text**********/

.videodesc p {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 2em;
}

.videodesc span {
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 1em;
}

.tracks audio {
    opacity: 0.5;
    position: relative;
}

.viddesc {
    padding: 1em;
}

/**********media players**********/

.album audio {
    width: 22em;
    height: 2em;
}

video {
    padding: 2em;
    margin: auto;
    border-radius: 4em;
    width: 100%;
}

/*                                               End of TRACKS page styles    */

/*                                              Start of SHOWS page styles    */

/**********images**********/

.shows-nz {
    background-position: center;
    background-image: url("../images/shows/newzeland.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 20em;
}

.shows-au {
    background-position: center center;
    background-image: url("../images/shows/australia.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 20em;
}

.shows-usa {
    background-position: center;
    background-image: url("../images/shows/usa.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 20em;
}

/**********text**********/

.shows2 {
    text-align: center;
    color: #EBF4EC;
    border-left: 0.2em solid;
    border-left-color: #EBF4EC;
    margin: 0em;
    padding-top: 0em;
}

.shows2 span {
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

.monkees {
    color: #EBF4EC;
    text-align: center;
    padding-top: 3em;
    font-size: 2.5em;
    font-weight: 600;
}

.monkees1 {
    color: #EBF4EC;
    text-align: center;
    padding-top: 1em;
    font-size: 2.5em;
    font-weight: 600;
}

/*                                                 End of SHOWS page styles   */

/*                                                Start of BOOK page styles   */

/**********images**********/

.world {
    padding-top: 9em;
}

.world img {
    height: 12em;
    opacity: 0.8;
}

/**********form**********/

.form {
    border-radius: 1em;
    max-width: 22em;
    margin: auto;
    background-color: #C1C1C0;
    margin-bottom: 3rem;
}

.rows {
    padding-top: 0.5em;
}

/**********text**********/

.aplication input {
    width: 14em;
}

.check {
    text-align: center;
}

.labels {
    font-size: 1em;
    font-weight: 600;
    border-left: 0.5em solid transparent;
    margin-top: 0.2em;
}

.venuetype {
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

/**********submit button**********/

.submit {
    text-align: center;
    padding-bottom: 1em;
}



/*                                                  End of BOOK page styles   */

/*                                              Start of FOOTER page styles   */

footer {
    background-color: black;
}

/**********social icons**********/

.sociali {
    margin-top: auto;
    text-align: center;
    color: #BFBFBF;
    font-size: 2em;
    text-decoration: none;
}

.sociali a i {
    color: #BFBFBF;
}

/**********text**********/

.socialc {
    margin: auto;
    font-size: 1rem;
    letter-spacing: normal;
    padding-bottom: 0.5em;
    color: #BFBFBF;
}

/*                                                End of FOOTER page styles   */

/*                                              Start of FOOTER page styles   */

/**********animation of navigation bar background**********/

@keyframes growing {
    from {
        height: 0;
    }
    to {
        height: 4.4em;
    }
}

/*                                             End of ANIMATION page styles   */

/*                                    Start of h1,h2,h3,h6 elements styles    */

h1 {
    text-align: center;
    color: #88B6E8;
    font-size: 2em;
    font-weight: 600;
}

h2 {
    text-align: center;
    color: #BFBFBF;
    font-size: 1.4rem;
    font-weight: 700;
}

h3 {
    font-weight: 500;
    font-size: 2em;
    color: white;
}

h6 {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

/*                                       End of h1,h2,h3,h6 elements styles   */




/*       HAMBURGER         */

.bg-light {
    position: fixed;
    width: 100%;
    z-index: 99;
    opacity: 0.8;
    background-color: black !important;
    
}

.navbar-light .navbar-brand {
    color: #BFBFBF;
}

.navbar-light .navbar-brand i{
    font-size: 2em;
    text-align: center;
}

.navbar-nav i {
    padding-top: 0.5rem;
    display: block;
    color: #BFBFBF;
    font-size: 2em;
    text-align: center;
    
}

.navbar-nav span {
    color: #BFBFBF;
    margin-bottom: 3em;
    letter-spacing: 0.2rem;
    font-weight: 600;
}

.hamburger {
    text-transform: uppercase;
}

.hamburger a {
    text-decoration: none;
}

.navbar-toggler {
    background-color: #BFBFBF;
}

.nav-row {
    margin-left: -1em;
}

.navbar-nav {
    width: 100%;
}   


@media (max-width: 992px) {
.navbar-nav i {
    display: none;
}

.navbar-nav span {
    text-align: right;
    font-size: 1.2em;
    margin-left: -0.8em;
}

.bg-light {
    position: fixed;
    width: 100%;
    z-index: 99;
    opacity: 0.8;
    background-color: transparent !important;
    
}

.navbar-light .navbar-brand {
    color: grey;
}

.navbar-toggler {
    background-color: gray;
}
}