@import url('https://fonts.googleapis.com/css?family=Courgette:100,200,300,400,500,600,700|Indie+Flower:100,200,300,400,500,600,700');

/*---------------------------------------------------------------------COLOURS*/

.ui-menu-color {}

.ui-menu-color-gallery {
    background-color: red;
}

.ui-menu-color-tracks {
    background-color: red;
}

.ui-menu-color-shows {
    background-color: orange;
}

.ui-menu-color-book {
    background-color: yellow;
}

/*----------------------------------------------------------------------HEDDER*/

.list-inline-item:not(:last-child) {
    margin: 0;

}

.container-fluid {
    padding: 0px;
}

.menucontainer {
    animation-name: growing;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
    background-color: black;
    text-align: center;
    font-family: "Indie+Flower";
}

.menucontainer a {
    width: 100%;
    text-decoration: none;
    color: #BFBFBF;
    height: 0px;
}

.menucontainer a i {
    padding-top: 0px;
    color: #BFBFBF;
    font-size: 28px;
}

.menucontainer a span {
    display: block;
    width: 100%;
    padding-top: 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
}

.navigation {

    position: fixed;
    width: 100%;
    z-index: 99;
    opacity: 0.8;
}

.logo {
    margin-top: 15px;
    margin-left: 5px;
    height: 40px;
}

.logo-img {
    animation-name: growing;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
    background-color: black;
}

.menuitem{
    animation-name: growing;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
    background-color: black;
    text-align: left;
    font-family: "Indie+Flower";
    display: block;
    width: 100%;
    padding-top: 0px;
    text-transform: uppercase;
    color: #BFBFBF;
}

.menuitem i{
    font-size: 50px;
    padding-top: 12px;
    padding-left: 12px;
}

.menuitem span{
    padding-left: 20px;
    font-weight: 600;
    font-size: 20px;
    bottom: 11px;
    position: relative;
    
}
/*-----------------------------------------------------------------------INDEX*/

.background-index {
    background: url("../images/index-background.jpgggggg");
    background-repeat: no-repeat;
    background-color: black;
    height: 100%;
    width: 100%;
    background-size: 100%;
}

.about {
    color: white;
    padding-top: 100px;
    padding-left: 25px;
    padding-right: 25px;
    
}

.about1 {
    color: #BFBFBF;
    font-family: "Indie+Flower";
    font-size: 15px;
}

.band{
    padding-top: 90px;
    color: white;
    font-family: "Indie+Flower";
    font-size: 35px;
    text-align: center;
}

.bandimg img{
    width: 100%;
}
/*---------------------------------------------------------------------GALLERY*/

.background-gallery {
    background: url("../images/gallery/mgalleryback.jpg");
    background-repeat: no-repeat;
    background-color: #000000;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-attachment: fixed;
}

.members p {
    text-align: center;
    font-family: "Indie+Flower";
    font-size: 23px;
    font-weight: 700;
    color: black;
    margin-top: 20px;
}

.members {
    text-align: center;
    padding-top: 140px;
}

.img-bg {
    text-align: center;

}

.photo {
    padding: 30px;
    width: 100%;
}



/*----------------------------------------------------------------------TRACKS*/

.background-media {
    background: url("../images/media/cassete.jpg");
    background-repeat: no-repeat;
    background-color: #000000;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-attachment: fixed;
}

.album {
    text-align: center;
    width: 100%;
    padding-top: 100px;
    color: black;
}

.album img {
    border-radius: 50px;
    border: 1px solid #2A1A0B;
}

.album audio {
    width: 230px;
    height: 40px;
}



.tracks {
    bottom: 20px;
}

.tracks p {
    font-family: "Indie+Flower";
    font-weight: 500;
    font-size: 16px;
    position: relative;
    top: 35px;
    z-index: 99;
    color: black;
}

.tracks audio {
    opacity: 0.5;
    position: relative;
}

.video {
    
    padding-top: 40px;
    text-align: center;
}

.video video {
    border-radius: 20px;
    width: 70%;
}

.videodesc p{
    text-align: center;
    color: #BFBFBF;
    font-family: "Indie+Flower";
    font-weight: 500;
    font-size: 30px;
}

.videodesc span{
    text-align: center;
    color: #BFBFBF;
    font-family: "Indie+Flower";
    font-weight: 500;
    font-size: 17px;
}

.viddesc{
    padding-left: 30px;
    padding-right: 30px;
}

/*-----------------------------------------------------------------------SHOWS*/
.background-shows {
        background: url("../images/shows/showsbglg.jpg");
        background-repeat: no-repeat;
        background-color: #000000;
        height: 100%;
        width: 100%;
        background-size: 100%;
        background-attachment: fixed;
    }

    .shows-nz {
        background-position: center;
        background-image: url("../images/shows/newzeland.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 200px;
        
    }
    
    .shows-au {
        background-position: center center;
        background-image: url("../images/shows/australia.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 200px;
    }
    
    .shows-usa {
        background-position: center;
        background-image: url("../images/shows/usa.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 200px;
    }

    .shows2 {
        text-align: center;
        color: #EBF4EC;
        border-left: 3px solid;
        border-left-color: #EBF4EC;
        
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 0px;
    }

    .shows2 span {
        font-weight: 700;
        font-family: "Indie+Flower";
        font-size: 25px;
        text-align: center;
    }
    
    .monkees {
        color: #EBF4EC;
        text-align: center;
        padding-top: 120px;
        font-size: 40px;
        font-family: "Indie+Flower";
        font-weight: 600;
    }
    
    .monkees1 {
        color: #EBF4EC;
        text-align: center;
        padding-top: 20px;
        font-size: 40px;
        font-family: "Indie+Flower";
        font-weight: 600;
    }
/*----------------------------------------------------------------------FOOTER*/

.social {
    margin-bottom: 20px;
}

.sociali {
    text-align: center;
    color: #BFBFBF;
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 20px;
}

.sociali a i {
    color: #BFBFBF;
}

.socialc {
    margin: auto;
    font-size: 12px;
    letter-spacing: normal;
    padding-top: 70px;
}

/*-------------------------------------------------------------------ANIMATION*/

@keyframes growing {
    from {
        height: 0;
    }
    to {
        height: 70px;
    }
}
